<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/searchFormDiv.css" />
  </head>
  <body>
    <aside class="menu">
      <button class="menutoggle textBold">메뉴 접기</button>
      <h2>메뉴</h2>
      <ul class="menu">
        <!-- 공통 -->
        <li><a href="#">메인홈</a></li>
        <li><a href="#">최근에 바뀐 글타래 보기</a></li>
        <!-- 로그아웃 상태 -->
        <li><a href="#">로그인</a></li>
        <li><a href="#">회원가입</a></li>
        <!-- 로그인 상태 -->
        <li><a href="#">내 프로필 가기</a></li>
        <li><a href="#">글 작성하기</a></li>
        <li><a href="#">글타래 관리하기</a></li>
        <li><a href="#">계정설정</a></li>
        <li><a href="#">로그아웃</a></li>
      </ul>
    </aside>

    <main>
      <!-- 메뉴 펼침 버튼 -->
      <button class="menutoggle hidden textBold">메뉴 펼치기</button>
      <div class="mainHeader">
        <!-- 프로필 상단, 글타래 설명문구, 검색폼이 들어가는 곳 -->
        <div class="searchFormDiv">
          <h2>검색하기</h2>
          <button class="searchtoggle">검색창 닫기</button>
          <form action="" method="get" id="searchForm">
            <div class="searchTypeKeyword">
              <select name="type" id="type" class="searchType">
                <!-- 글 검색 -->
                <option value="text">텍스트</option>
                <option value="user">작성자</option>
                <option value="tag">태그</option>
                <!-- 글타래 검색 -->
                <option value="thread">이름</option>
                <option value="thread">소개문구</option>
                <option value="thread">작성자</option>
                <option value="thread">태그</option>
              </select>
              <input type="text" name="keyword" id="keyword" placeholder="키워드를 입력하시오" class="searchKeyword" />
            </div>
            <div class="searchBtnContainer">
              <div class="searchImageCheckbox">
                <label for="image">이미지 여부</label>
                <input type="checkbox" name="image" id="image" value="true" />
              </div>
              <button type="submit" class="searchBtn">검색</button>
            </div>
          </form>
        </div>
      </div>
      <div class="mainContainer">
        <!-- 타임라인, 개별글, 글타래 목록, 멤버 관련 페이지 들어가는 곳 -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quasi magni assumenda cupiditate reiciendis iste ullam, quod quidem
          nesciunt atque modi natus, aspernatur aliquam rerum veritatis maxime minima quos odit! Rem mollitia pariatur molestiae earum doloribus quas
          vitae maiores, fugiat est voluptas, dolores quis magnam reiciendis deleniti commodi accusantium odit sunt modi nam nesciunt saepe dicta.
          Numquam error quasi voluptatem! Molestias placeat perspiciatis fugit? Odit perferendis quidem mollitia modi tenetur sed saepe, consectetur
          inventore aut, quisquam nobis voluptatibus doloribus. Beatae esse est nihil, sint accusamus doloremque id ab cum explicabo!
        </p>
        <div style="width: 950px; margin: 0 auto; background-color: pink; max-width: 100%">
          950px Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quibusdam, in animi deleniti fugit impedit corporis accusamus alias, et
          illum ratione architecto similique. Officia aperiam modi magnam mollitia iusto quam! Dolores voluptatibus accusantium tempora voluptate quas
          ducimus facilis nemo? Accusantium omnis, laboriosam at cumque porro, alias, quidem qui placeat quo nihil deleniti veniam et provident unde
          nisi adipisci iusto ipsa? Perferendis in voluptate ipsam neque minima deserunt beatae nobis, animi unde sunt et nesciunt, eligendi deleniti
          fugit iure inventore labore soluta error dicta? Sed incidunt, aut qui dicta minima dolorum. Illum cum architecto quidem odio aliquid impedit
          suscipit possimus blanditiis! Ipsa omnis ducimus assumenda doloribus? Omnis voluptas asperiores, dolorem excepturi suscipit nobis earum est
          perferendis repellendus aspernatur optio? Aliquam, et. Quis consequuntur, placeat animi, voluptates modi eum fuga minima ratione eos
          reiciendis corrupti quam laboriosam reprehenderit nostrum illo ad saepe beatae sed ullam pariatur ipsum facilis! Architecto quis vero
          nostrum.
        </div>
        <div style="width: 1250px; margin: 0 auto; background-color: palevioletred; max-width: 100%">
          <h1>asdf</h1>
          <h2>asdf</h2>
          1250px Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quibusdam, in animi deleniti fugit impedit corporis accusamus alias, et
          illum ratione architecto similique. Officia aperiam modi magnam mollitia iusto quam! Dolores voluptatibus accusantium tempora voluptate quas
          ducimus facilis nemo? Accusantium omnis, laboriosam at cumque porro, alias, quidem qui placeat quo nihil deleniti veniam et provident unde
          nisi adipisci iusto ipsa? Perferendis in voluptate ipsam neque minima deserunt beatae nobis, animi unde sunt et nesciunt, eligendi deleniti
          fugit iure inventore labore soluta error dicta? Sed incidunt, aut qui dicta minima dolorum. Illum cum architecto quidem odio aliquid impedit
          suscipit possimus blanditiis! Ipsa omnis ducimus assumenda doloribus? Omnis voluptas asperiores, dolorem excepturi suscipit nobis earum est
          perferendis repellendus aspernatur optio? Aliquam, et. Quis consequuntur, placeat animi, voluptates modi eum fuga minima ratione eos
          reiciendis corrupti quam laboriosam reprehenderit nostrum illo ad saepe beatae sed ullam pariatur ipsum facilis! Architecto quis vero
          nostrum.
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, delectus. Nemo aliquid provident, minima dicta ea commodi nam. Beatae
          nobis illo eum possimus eos voluptatem numquam consequatur accusamus quaerat voluptatibus? Tempora unde officia deserunt, velit veniam
          nesciunt quasi consequatur itaque nihil at! Beatae commodi est illo reiciendis quos sed assumenda porro necessitatibus, cum vero libero iste
          voluptas rem fuga expedita. Facilis dolorum velit iste molestias, odio reiciendis esse cumque quos molestiae voluptatibus soluta eaque
          quibusdam minima magnam iure atque explicabo delectus architecto, perferendis saepe impedit corrupti commodi repellat. Cum, ut? Assumenda,
          excepturi corporis earum similique cum ullam sequi asperiores hic veniam, cupiditate nisi voluptas architecto obcaecati eaque rem minus
          pariatur sunt labore. Libero, eligendi quae? Fuga repellat eum ipsum cum? Nemo sint in earum ab asperiores veritatis, voluptatibus labore
          libero accusantium ad provident, at quos sequi odio temporibus? Commodi molestiae numquam cumque odio quisquam impedit sint exercitationem
          saepe alias neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint repudiandae omnis numquam nobis, sunt voluptates itaque
          voluptatum, modi ea provident tempore! Tempore, quae minima? Explicabo earum reiciendis repellendus tenetur quis! Voluptate magni voluptates
          tempore eaque reprehenderit fugit omnis reiciendis soluta quos ducimus, laboriosam ipsum consequuntur, blanditiis odio laudantium esse
          officiis cupiditate aliquid illo veniam. Ex aliquam aspernatur quaerat iusto quas. At consectetur possimus perferendis dolores hic,
          reiciendis doloremque quidem. Accusantium ipsum rerum animi qui totam, consequuntur accusamus. Assumenda, fuga. Officia dolor modi non iure
          possimus at ex rerum commodi quaerat? Debitis earum vero non laboriosam sint voluptatum corrupti, officiis aliquam odit excepturi veritatis
          at iste dolor esse asperiores in nostrum doloribus rerum sunt quis facere atque inventore exercitationem culpa? Delectus! Placeat, ullam
          sint recusandae dolore distinctio optio, assumenda iste accusamus et delectus, nesciunt dicta impedit facere dolorem laboriosam! Voluptas
          rerum harum nesciunt fugit possimus natus, laboriosam optio recusandae ullam impedit. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Facilis nostrum ad praesentium tempora? Soluta unde dicta inventore aliquid reprehenderit possimus. Quasi molestias itaque fugiat
          quaerat iure neque ducimus earum voluptatum. Sed alias quaerat facere. Ipsum dolor voluptatum sapiente quaerat ut incidunt officia maxime
          nihil soluta. Molestiae omnis, fugit rem harum ipsum, natus doloremque quam alias illum animi pariatur quaerat ipsam. Perspiciatis
          accusantium laboriosam eaque repellendus, repudiandae provident deleniti eum aliquid asperiores architecto quidem placeat, ut nulla esse
          ipsam magnam sequi! Aliquid ea vero cumque eos et animi! Voluptatem, ipsa quas! Dolor est libero fuga aperiam facilis, ratione, voluptatum
          molestias sint nesciunt natus recusandae, placeat porro eaque voluptas deserunt consectetur a in! Quia modi, laudantium at quidem recusandae
          nisi esse totam? Animi porro iste eius repellat fuga, dolorum temporibus voluptas recusandae blanditiis excepturi error quis nulla. Iure
          nisi nesciunt quas sunt at dignissimos sint ipsum officiis, sapiente alias possimus. Ipsum, tempora! Nam error iusto provident sequi culpa
          dolorem dolores quis quibusdam veritatis, illum incidunt quia quos. Laborum, ratione esse blanditiis laudantium, quam minima numquam sint
          tempora, consequatur quis maxime sapiente corporis? Quas tenetur numquam rerum minima rem vitae maxime. Cupiditate, voluptatibus. Quaerat et
          reprehenderit, voluptatem ex iste amet reiciendis, sequi quisquam eos rerum magni, voluptate voluptates accusantium cum ea? Sed, fuga. Fuga
          rerum voluptates placeat, alias praesentium sed sequi? Magni commodi quasi corrupti veniam id tempora eum temporibus, modi molestias nobis
          reiciendis aperiam doloremque esse animi laboriosam necessitatibus obcaecati exercitationem error. Minus atque vel nisi, quis ratione
          commodi, natus eum sint ipsa in provident debitis quam. Quae, harum eveniet, voluptates deserunt excepturi dolor fugiat dolorem delectus ut
          dicta officia vel perferendis. Eos sed sequi ab, alias vel accusamus quos voluptas tenetur inventore, eaque eligendi, aliquam rerum omnis
          autem nesciunt facere quis impedit? Repudiandae quibusdam alias quae est. Id praesentium cum illum.
        </div>
      </div>
    </main>
    <footer>
      <div class="footerContainer">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident fugiat quas beatae mollitia accusamus pariatur dignissimos voluptatibus
        reprehenderit aspernatur, quo enim alias, iure dicta asperiores minima porro eaque unde! Ad! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Similique saepe possimus nemo veniam, quaerat non dicta nesciunt autem veritatis harum illum laudantium tempora nam cumque
        nostrum ut deleniti explicabo libero! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, velit. Hic accusamus doloribus alias
        molestias nobis doloremque molestiae illo iste, eaque modi magnam laboriosam temporibus ducimus necessitatibus quaerat ad suscipit. Vero
        consequuntur modi rem tempore doloremque quae alias soluta, incidunt illum saepe repellat, impedit, tempora veniam dicta voluptates harum
        asperiores ea neque doloribus expedita at labore omnis! Non, autem saepe. Quibusdam rerum id, officiis optio quos maiores minima ipsa? At
        possimus veritatis porro eveniet consequatur expedita quaerat recusandae? Et ut explicabo nesciunt enim modi quod veniam atque unde
        repudiandae neque. Nisi voluptates numquam id incidunt blanditiis voluptatibus, nulla sequi! Labore, quos, illum voluptates repellendus dolor
        dolore tempore esse veritatis iste placeat sit unde cumque, saepe cupiditate voluptatum tempora voluptatem enim! Maxime, architecto!
        Repellendus cum, sint itaque laboriosam ut accusantium doloribus praesentium aspernatur possimus sed fugiat sunt repudiandae dolore voluptas
        nulla nam porro accusamus eveniet. Nisi ducimus similique a maxime explicabo.
      </div>
    </footer>
    <script src="/static/js/menu.js"></script>
  </body>
</html>
