<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/searchFormDiv.css" />
  </head>
  <body>
    <aside class="menu">
      <button class="toggle menutoggle textBold">메뉴 접기</button>
      <h2>메뉴</h2>
      <ul class="menu">
        <!-- 공통 -->
        <li><a href="#">메인홈</a></li>
        <li><a href="#">최근에 바뀐 글타래 보기</a></li>
        <!-- 로그아웃 상태 -->
        <li><a href="#">로그인</a></li>
        <li><a href="#">회원가입</a></li>
        <!-- 로그인 상태 -->
        <li><a href="#">내 프로필 가기</a></li>
        <li><a href="#">글 작성하기</a></li>
        <li><a href="#">글타래 관리하기</a></li>
        <li><a href="#">계정설정</a></li>
        <li><a href="#">로그아웃</a></li>
      </ul>
    </aside>

    <main>
      <!-- 메뉴 펼침 버튼 -->
      <button class="toggle menutoggle hidden textBold">메뉴 펼치기</button>

      <!-- 메인 상단부분 -->
      <div class="mainHeader">
        <!-- 프로필 상단, 글타래 설명문구, 검색폼이 들어가는 곳 -->
        <!-- 검색폼 -->
        <div class="searchFormDiv">
          <h2>검색하기</h2>
          <button class="toggle searchtoggle textBold">검색창 닫기</button>
          <form action="" method="get" id="searchForm">
            <div class="searchTypeKeyword">
              <select name="type" id="type" class="searchType">
                <!-- 글 검색 -->
                <option value="text">텍스트</option>
                <option value="user">작성자</option>
                <option value="tag">태그</option>
                <!-- 글타래 검색 -->
                <option value="thread">이름</option>
                <option value="thread">소개문구</option>
                <option value="thread">작성자</option>
                <option value="thread">태그</option>
              </select>
              <input type="text" name="keyword" id="keyword" placeholder="키워드를 입력하시오" class="searchKeyword" />
            </div>
            <div class="searchBtnContainer">
              <div class="searchImageCheckbox">
                <label for="image">이미지 여부</label>
                <input type="checkbox" name="image" id="image" value="true" />
              </div>
              <button type="submit" class="searchBtn">검색</button>
            </div>
          </form>
        </div>
        <!-- 검색폼이 있을경우 펼침 버튼 -->
        <button class="toggle searchtoggle textBold hidden">검색창 열기</button>

        <!-- 프로필 상단 영역 -->
        <!-- 글타래 설명문구 -->
      </div>

      <!-- 메인 본문 영역 -->
      <div class="mainContainer searchFormMargin">
        <!-- 타임라인, 개별글, 글타래 목록, 멤버 관련 페이지 들어가는 곳 -->
        <!-- 메인홈 타임라인 -->

        <!-- 개별글 영역 -->
        <!-- 개별글의 먼저 올린 글 -->
        <!-- 개별글 본문 -->
        <!-- 개별글의 댓글 -->

        <!-- 글타래 목록 -->
      </div>
    </main>
    <footer>
      <div class="footerContainer">
        <p>: 사이트 제작 : 김영현 :</p>
      </div>
    </footer>
    <script src="/static/js/toggle.js"></script>
  </body>
</html>
