/* 기본 디자인 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

aside {
  background-color: green;
}

aside li {
  list-style-type: none;
}

header {
  background-color: pink;
  padding: 5px;
  padding-bottom: 30px;
}

main {
  background-color: gray;
}

footer {
  background-color: darkseagreen;
  text-align: center;
  padding: 10px;
}
/* 기본 디자인 끝 */

/* 메인의 자식 요소 */
/* 검색 */
.searchFormDiv {
  background-color: lightblue;
}

/* 타임라인 */
.timeline {
  background-color: cadetblue;
}
/* 게시글 디자인 영역 시작 */
.context {
  background-color: aqua;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
}
.postInfo {
  position: relative;
  margin: 30px 0 15px 0;
}
.postCreateDate {
  position: absolute;
  right: 0;
}
.postInfo .writer {
}

.postText,
.postImage {
  margin-bottom: 20px;
}
.prevPost {
  background-color: darkcyan;
  position: absolute;
  width: 100%;
  max-width: 600px;
  top: -15px;
  padding: 5px;
  border: 1px solid black;
}
.nextPost {
  border-top: 1px solid black;
  padding: 10px;
}
/* 게시글 디자인 영역 끝 */

/* 글타래 목록 */
.threadList {
  background-color: steelblue;
}
/* 개별 글타래 */
.thread {
  background-color: skyblue;
  width: 49.5%;
  height: 200px;
  border: 1px solid black;
  display: inline-block;
}

/* 페이지 리스트 */
.pageList {
  background-color: chartreuse;
  padding: 15px 0;
  text-align: center;
}
.pageList ul li {
  padding: 10px;
  border: 1px solid gray;
  display: inline-block;
  list-style-type: none;
}
