.userProfileBackground {
  height: 200px;
  background-color: pink;
}

.userProfileMain {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
  background-color: greenyellow;
}

.userProfileMainImg {
  border: 2px solid gray;
  border-radius: 15px;
  margin: 15px;
  margin-top: -150px;

  /* div 밖 영역 감추기 */
  overflow: hidden;

  /* 프로필 영역 사이즈 (이미지 사이즈 + 테두리 양쪽 크기) */
  width: 254px;
  height: 254px;

  float: left;
}

.userProfileBtn {
  margin-top: 15px;
  text-align: right;
}
