/* 기본 설정 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
img {
  vertical-align: top;
}
.textBold {
  font-weight: bold;
}

.searchFormDiv {
  /* display: none; */
  /* background-color: lightblue; */
  background-color: rgba(173, 216, 230, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1460px;
  height: 160px;
  z-index: 1;

  /* margin-top: 50px; */
}

.searchFormDiv h2 {
  color: white;
  margin-top: 5px;
  margin-left: 10px;
}

.searchFormDiv form {
  padding: 10px;
  max-width: 950px;
  text-align: center;
  margin: 0 auto;
}
.searchFormDiv .searchType {
  width: 30%;
  height: 3.5em;
  padding: 1em;
}

.searchFormDiv .searchKeyword {
  width: 65%;
  height: 3.5em;
  padding: 1em;
}

.searchFormDiv .searchBtnContainer {
  text-align: right;
  padding: 10px;
}

.searchFormDiv .searchImageCheckbox {
  display: inline-block;
  margin-right: 20px;
}
.searchFormDiv .searchBtn {
  background-color: teal;
  color: white;
  border: 1px solid black;
  font-size: 1.2em;
  width: 150px;
  height: 40px;
}

/* main {
  padding-top: 200px;
} */
