<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/individualPost.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/posting.css}">
  </th:block>
  <div layout:fragment="mainHeader" class="mainHeader">
    <!-- 검색폼 여부와 상관없이 상단 여백 -->
    <div class="timelineHeader"></div>
  </div>

  <div layout:fragment="mainContainer" class="mainContainer">
    <!-- 포스트 작성 영역 -->
    <div class="postingDiv">

      <h2 style="width:980px;max-width:98%;margin:0 auto">글 작성하기</h2>

      <div class="postingDiv2 individualPost">
        <form th:action="@{createPost}" method="post" id="postingForm">
          <div class="postTextDiv">
            <p>
              <label for="text" class="textBold">텍스트</label>
            </p>
            <textarea name="text" id="text" placeholder="여기에 댓글을 입력하시오" rows="5" cols="3" wrap="hard">[[${dto.text}]]</textarea>
            <button type="submit" class="textBold">올리기</button>
          </div>
          <input type="hidden" name="uno" value="1">
        </form>
        <div class="postImages">
          <div class="postImage">
            <img src="http://via.placeholder.com/200.jpg" alt=""/>
            <button class="imgRemoveBtn">지우기</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <th:block layout:fragment="javascript">
    <script th:src="@{/js/toggle.js}"></script>
    <script th:src="@{/js/postContainerEvent.js}"></script>
    <!-- <script th:src="@{/js/toggleSFormless.js}"></script> -->
  </th:block>

</html>